
/* ********* commnons ********* */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1170px;
    width: 90%;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.btn {
    border-radius: 40px;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

.white {
    background-color: white;
    color: black;
}

.black {
    background-color: black;
    color: white;
}

.viola {
    color: white;
    background-color: rgb(142, 161, 225);
}
/* .bck {
    background-color: grey;
} */

/* ********* header ********* */
header {
    height: 80px;
    background-color: rgb(42,94,232);
}

.riga {
    background-color: rgb(42,94,232);
    line-height: 80px;
}

/* ********* discord logo ********* */
#logo {
    float: left;
    width: 25%;
}
 #logo img {
    vertical-align: middle;

 }
 /* ********* nav bar ********* */
nav {
    float: left;
    width: 50%;
    text-align: center;
}

nav li{
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
}

nav li a {
    text-decoration: none;
    color: white;
    font-size: large;
    font-weight: bold;
}

/* ********* btn accedi ********* */
.accedi {
    float: left;
    width: 25%;
    text-align: right;
}

/* ********* jumbo ********* */
#jumbo {
    background-image: url("../img/jumbo.png");
    height: 700px;
    background-size: cover;
    position: relative;
    margin-bottom: 150px;

}
.title{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}

.title h1 {
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 40px;
}

.btn-box {
    margin-top: 30px;

}

.btn-box a {
    margin-left: 20px;
    margin-right: 20px;
}

#arrow {
    font-size: 25px;
    vertical-align: middle;
}




/* ********* main ********* */

.sezione {
    margin-bottom: 150px;
    /* background-image: url("../img/wave.svg") */
}

.sezione .colonna-img{
    float: left;
    width: 58%;
    margin-right: 20px;
    object-fit: cover;
}

.sezione .colonna-text {
    margin-left: 20px;

    margin-top: 40px;
    float: left;
    width: 38%;
}
.sezione .colonna-text h2 {
    font-size: 50px;
    margin-bottom: 40px;
}
.sezione .colonna-text p {
    font-size: 20px;

}


.riga-top, .riga-bottom, #h3-title {
    text-align: center;
}

.u-image {
    margin-bottom: 50px;
}



/* ********* footer ********* */

footer {
    background-color: rgb(35, 39, 42);
    height: 500px;
    padding: 60px;
}

.colonna-footer-1 {
    float: left;
    height: 200px;
    width: 30%;
    margin-left: 10px;
    margin-right: 10px;
}

.colonna-footer {
    float: left;
    /* height: 200px; */
    width: 15%;
    margin-left: 10px;
    margin-right: 10px;

}

.colonna-footer-1  h3 {
    margin-bottom: 50px;
    font-size: 30px;
    color: rgb(114, 137, 218);
}

#italia {
    width: 30px;
    margin-right: 10px;
}

#social {
    margin-top: 20px;
}
.colonna-footer li {
    line-height: 30px;
    list-style: none;
}

.first {
    color: rgb(114, 137, 218);

}
.colonna-footer a {
    text-decoration: none;
    color: white;
    padding: 20px;
}
/* ********* debug ********* */
/* .debug footer .container {

}
.debug .sezione {
    background-color: green;
    height: 500px;
    

}
.debug .sezione .colonna-img {
    height: 100%;
    background-color: blue;
}
 .colonna-img img {
    object-fit: cover;
 }  
.debug .sezione .colonna-text {
    background-color: red; 
     height: 100%;  
} 

#jumbo {
    background-image: url("../img/jumbo.png");
    height: 550px;
    background-size: cover;
}

#jumbo .container {
    height: 100%;
}  */
/* .debug .colonna-footer-1 {
    background-color: rgb(42,94,232);
    border: 1px solid black;
}

.debug .colonna-footer {
    background-color: rgb(42,94,232);
 
    border: 1px solid black;

} */
