
/* ********* commnons ********* */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    width: 90%;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


/* ********* header ********* */
header {
    height: 80px;
    background-color: rgb(42,94,232);
}

.riga {
    background-color: rgb(42,94,232);

}
#logo {
    float: left;
    width: 25%;
}
nav {
    float: left;
    width: 50%;
    text-align: center;

}
.accedi {
    float: left;
    width: 25%;
    text-align: right;

}

nav li{
    display: inline-block;
}

nav li a {
    text-decoration: none;
}






/* ********* debug ********* */


.debug .riga {
    height: 100px;
    background-color: yellow;
}


.debug .riga .container {
    height: 100px;
    background-color: green;
    border: 1px solid black;
}

#img-centrale {
    background-image: url("../img/jumbo.png");
    height: 550px;
    background-size: cover;
}

#img-centrale .container {
    height: 100%;
    background-color: rgba(red, red, red, 0.8);
}